src/main/resources/book.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="http://NamespaceTest.com/Book"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="Book">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int" />
                <xs:element name="name" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>